BC_USERNAME=your_bc_username
BC_PASSWORD=your_bc_password
BC_MEMBERS_TABLE=http://localhost:7048/BC/ODataV4/Company('DEMO')/MemberList
BC_PORTAL_USERS_TABLE=http://localhost:7048/BC/ODataV4/Company('DEMO')/portalUsers
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=your_email@example.com
EMAIL_PASSWORD=your_app_password
